<section class="container p-0 m-0 text-center" style="
    max-width: 100vw;
">
    <div class="row m-0 border-bottom">
      <div class="col-12 p-5">
        <h2 class="text-dark">VMS Core Features</h2>
      </div>
    </div>
    <div class="row m-0">
      <!-- Card 1.1 - bg-light -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card rounded-0 h-100">
          <div class="card-body">
              <img src="/assets/fa-users-between-lines.svg" width="62" height="62" />
              <h1>Customers & Locations</h1>
              <p class="lead">
                Elevate your vending business by efficiently managing customer relationships and vending locations. Seamlessly manage the address details, business hours, commissions, and product preferences of your customers across multiple systems. Enhance service quality and optimize vending experiences across locations.
              </p>

          </div>
        </div>
      </div>
      
      <!-- Card 1.2 - bg-yellow -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-table-cells.svg" width="62" height="62" />
            <h1>Telemetry & Plannograms</h1>
            <p class="lead">
              Unlock the power of real-time insights. Easily monitor remote inventory and equipment status data from your vending machines, ensuring optimal product availability. Transform your product placement strategy with sophisticated plannograms, optimizing the arrangement of products for maximum visibility, sales, and customer delight.
            </p>
          </div>
        </div>
      </div>
      <!-- Card 2.1 - bg-tertiary -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-truck-ramp.svg" width="62" height="62" />
            <h1>Products & Supplier Catalogs</h1>
            <p class="lead">
              Efficiently manage and optimize your product inventory with a Product Information Manager specifically designed to address the unique challenges of the vending industry. Easily consume and manage supplier catalogs, ensuring your product information is always up-to-date and accurate.
            </p>
          </div>
        </div>
      </div>
      
      <!-- Card 2.2 - bg-secondary -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-landmark.svg" width="62" height="62" />
            <h1>Taxes & Expenses</h1>
            <p class="lead">
              Effortlessly handle tax calculations, manage expenses, and maintain accurate financial reporting across your vending operations. Ensure compliance and expense tracking all within a single, integrated platform.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <!-- Card 1.1 - bg-light -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-warehouse.svg" width="62" height="62" />
            <h1>
              Warehouse Inventory Management
            </h1>
            <p class="lead">
              Efficient warehouse management is the backbone of successful vending machine and micromarket businesses. Efficient picking and kitting, automated replenishment alerts, and precise inventory optimization work in harmony to optimize your warehouse operations.
              </p>
          </div>
        </div>
      </div>
      
      <!-- Card 1.2 - bg-yellow -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card text-dark rounded-0 h-100">
          <div class="card-body">
            <!-- <img src="/assets/fa-road.svg" width="62" height="62" /> -->
            <img src="/assets/fa-map-location-dot.svg" width="62" height="62" />
            <h1>Drivers & Route Planning</h1>
            <p class="lead">
              Drive operational excellence with our driver and route planning solution. Empower your drivers with route planning that maximizes efficiency. Seamlessly assign and manage routes, keeping your vending machines stocked and customers satisfied.
            </p>
            
          </div>
        </div>
      </div>
      
      <!-- Card 2.1 - bg-tertiary -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card text-dark rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-calendar-days.svg" width="62" height="62" />
            <h1>Equipment & Service Schedules</h1>
            <p class="lead">
              Take the hassle out of equipment management and maintenance scheduling. Easily maintain a proactive approach and ensure your vending machines are operating at peak performance, minimizing downtime and maximizing revenue.
            </p>
          </div>
        </div>
      </div>
      
      <!-- Card 2.2 - bg-secondary -->
      <div class="col-xs-12 col-xl-6 p-0">
        <div class="card text-dark rounded-0 h-100">
          <div class="card-body">
            <img src="/assets/fa-money-bill-up.svg" width="62" height="62" />
            <h1>Analytics & Accountability</h1>
            <p class="lead">
              Empower your team with advanced analytics to drive informed decision-making. Seamlessly visualize trends, track performance metrics, and connect data across platforms to foster a culture of accountability, effectively detect anomalies, and safeguard your vending operations.
              <!-- Elevate your accountability and decision-making with advanced analytics. Seamlessly visualize trends, track performance metrics, and connect data across platforms to optimize your vending operations. -->
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
