<img class="img-fluid my-3 mx-5" src="/assets/t/logo-365markets.png" style="max-height: 3rem;" alt="365 Retail Markets">
<img class="img-fluid my-3 mx-5" src="/assets/t/logo-nayax.svg" style="max-height: 3rem;" alt="Nayax">
<img class="img-fluid my-3 mx-5" src="/assets/t/logo-cantaloupe.svg" style="max-height: 3rem;" alt="Cantaloupe">
<img class="img-fluid my-3 mx-5" style="max-height: 3rem;" src="/assets/t/logo-crane.svg" alt="Crane">
<img class="img-fluid my-3 mx-5" src="/assets/t/logo-coinco.png" alt="Coinco" style="max-height: 3rem;">
<img class="img-fluid my-3 mx-5" style="max-height: 3rem;" src="/assets/t/logo-cpi.svg" alt="CPI">